@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container.column {
  flex-direction: column;
}

.flex-30 {
  flex: 30%;
  max-width: 30%;
  min-width: 30%;
}

.flex-70 {
  flex: 70%;
  max-width: 70%;
  min-width: 70%;
}

.flex-gap {
  margin-right: 20px;
}
