.line {
    fill: none;
    stroke-width: 2px;

    transform-origin: 50% 50%;
    transition: stroke-width 0.1s ease-in;
}

.line:hover {
    stroke-width: 4px;
    transition: stroke-width 0.1s ease-out;
}

.line.selected {
    stroke-width: 4px;
    transition: stroke-width 0.1s ease-out;
}

.legend-entry {
    cursor: pointer;
}

.legend-entry.selected {
    font-weight: bold;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

text {
    font-family: "MPlus1";
}