<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="COMPONENT_ID" value="storage" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{dd-MM-yyyy hh:mm:ss.SSS} [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/logFile.log</file>
        <encoder>
            <pattern>[%-5level] %d{dd-MM-yyyy hh:mm:sss} [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="cz.cuni.mff.socneto.storage.logging.JsonLogEncoder"/>
        <topic>log_collector.system_metrics</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        <producerConfig>bootstrap.servers=localhost:9094</producerConfig>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="cz.cuni.mff.socneto" level="INFO" additivity="true">
        <appender-ref ref="KAFKA"/>
    </logger>
</configuration>
